<!DOCTYPE html>
<html>

<head>
	<meta charset="utf-8" />
	<title> This is a title </title>
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet" href="https://cdn.bootcss.com/bootstrap/4.0.0/css/bootstrap.min.css"
		integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
	<link href="static/css/style.css" rel="stylesheet" type="text/css" />

	<script type="text/javascript" src="style/js/custom.js"></script>
	<script src="https://cdn.bootcss.com/jquery/3.2.1/jquery.slim.min.js"
		integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
		crossorigin="anonymous"></script>
	<script src="https://cdn.bootcss.com/popper.js/1.12.9/umd/popper.min.js"
		integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
		crossorigin="anonymous"></script>
	<script src="https://cdn.bootcss.com/bootstrap/4.0.0/js/bootstrap.min.js"
		integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
		crossorigin="anonymous"></script>
</head>

<body>
	<div class="container row">
		<div class="col-md-3">
			<div class="form-group">
				<form>
					<input type="text" class="form-control" placeholder="Search" />
				</form>
			</div>
			<div class="nav flex-column nav-pills" id="v-pills-tab" role="tablist" aria-orientation="vertical">
				<a class="nav-link active" id="v-pills-home-tab" data-toggle="pill" href="/" role="tab"
					aria-controls="v-pills-home" aria-selected="true">Home</a>
				{% for item in tag_list %}
				<a class="nav-link" id="v-pills-profile-tab" data-toggle="pill" href="/{{item}}" role="tab"
					aria-controls="v-pills-profile" aria-selected="false">{{item}}</a>
				{% endfor %}
			</div>
		</div>
		<div class="col-md-9">
			<div class="container">
				<header class="header col-md-9">
					<div class="page-header">
						<h1>
							<small>
								<span class="glyphicon glyphicon-book" aria-hidden="true"></span> {{tag}}
							</small>
							<span class="badge badge-dark">2</span>
						</h1>
					</div>
				</header>

				<div class="col-md-10">

					<article>
						<div class="card">
							{% for data in data_list %}
							<div class="card-body">
								<h5 class="card-title">data.title</h5>
								<h6 class="card-subtitle mb-2 text-muted">url</h6>
								<p class="card-text">data.content</p>
								<p class="card-link">data.time</p>
									<div class="btn-toolbar" role="toolbar" aria-label="Toolbar with button groups">
										<div class="btn-group mr-2" role="group" aria-label="First group">
											{% for tag in data.tags %}
											<button type="button" class="btn btn-secondary">#{{tag}}</button>
											{% endfor %}
										</div>
									</div>
							</div>
							{% endfor %}
						</div>
					</article>
				</div>
			</div>
		</div>
		<footer class="footer col-md-12">
			<div class="text-center">
				<a href="github" target="_blank">group name</a>
			</div>
		</footer>
	</div>
</body>

</html>