<!DOCTYPE html>
<html>

<head>
	<meta charset="utf-8" />
	<title> This is a title </title>
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet" href="https://cdn.bootcss.com/bootstrap/4.0.0/css/bootstrap.min.css"
		integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
	<link href="static/css/style.css" rel="stylesheet" type="text/css" />

	<script type="text/javascript" src="static/js/custom.js"></script>
	<script src="https://cdn.bootcss.com/jquery/3.2.1/jquery.slim.min.js"
		integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
		crossorigin="anonymous"></script>
	<script src="https://cdn.bootcss.com/popper.js/1.12.9/umd/popper.min.js"
		integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
		crossorigin="anonymous"></script>
	<script src="https://cdn.bootcss.com/bootstrap/4.0.0/js/bootstrap.min.js"
		integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
		crossorigin="anonymous"></script>
</head>

<body>
	<nav class="navbar navbar-expand-lg navbar-light bg-mycolor" style="height: 36px;">
	</nav>
	<div class="container row" id="big">
		<div class="col-md-3">
			<div class="form-group">
				<form method="POST">
					<input type="text" class="form-control" placeholder="Search" name="search-key">
				</form>
			</div>
			<div class="nav flex-column nav-pills" id="v-pills-tab" role="tablist" aria-orientation="vertical">
				<a class="nav-link inactive" id="v-pills-home-tab" data-toggle="pill" href="/" role="tab"
					aria-controls="v-pills-home" aria-selected="true" onclick=javascript:f(this);>Home</a>
				<h5 class="page-header"></h5>
				{% for item in tag_list %}

				<a class={% if item == tag %} "nav-link active" {% else %} "nav-link inactive" {% endif %}
					id="v-pills-profile-tab" data-toggle="pill" href="/{{item}}" role="tab"
					aria-controls="v-pills-profile" aria-selected="false" onclick=javascript:f(this);>{{item}}</a>
				{% endfor %}
			</div>
		</div>

		<div class="col-md-9">
			<div class="container">
				<header class="header col-md-12">
					<div class="page-header" id="page-title">
						<h1>
							<span class="glyphicon glyphicon-book" aria-hidden="true"></span> {{tag}}
							<span class="badge badge-primary" id="length"> {{length}} </span>
						</h1>
					</div>
				</header>

				<div class="col-md-12">

					<article>
						<div class="card">
							{% for data in data_list %}
							<div class="card-body">
								<h5 class="card-title">{{data.title}}</h5>
								<p class="card-text" id="text-inside">{{data.content}}</p>
								<div class="row container" style="padding-left: 0px; padding-right: 0px;">
									<div class="col-md-3 left">
										<button type="button" class="btn btn-light">{{data.time}}</button>
									</div>
									<div class="col-md-9 right">
										{% for tag in data.tags %}
										<button type="button" class="btn btn-info" href=/{{tag}}
											onclick=javascript:f(this);>#{{tag}}</button>
										{% endfor %}
									</div>
								</div>
							</div>
							{% endfor %}
						</div>
					</article>
				</div>
			</div>
		</div>
	</div>
</body>

</html>